.main {
    width: 980px;
    height: 455px;
    margin-top: 10px;
    margin-left: 220px;
}
.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    background-color: pink;
    overflow: hidden;
}
.focus ul {
    position:absolute;
    top: 0;
    left: 0;
    width: 600%;
}
.focus ul li {
    float: left;
}
.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
        /* 绝对定位的盒子垂直居中 */
     top: 50%;
     margin-top: -15px;
         /* 加了绝对定位的盒子可以直接设置高度和宽度 */
     width: 20px;
     height: 30px;
     background: rgba(0, 0, 0, .3);
     text-align: center;
     line-height: 30px;
    color: #fff;
            /* 去下划线 */
    text-decoration: none;
    z-index: 2;
 }
 .arrow-l {
    position: absolute;
    left: 0;
    /* 设置圆角 */
    /* border-radius: 15px; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.arrow-r {
    position: absolute;
    right: 0;
    /* 设置圆角 */
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.circle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 13px;
    background: rgba(209, 73, 73, 0.3);
    border-radius: 7.5px;
}
.circle li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}
.circle .current {
    background-color: #ff5000;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;

}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    float: right;
}
.news-hd .more::after{
    content: "\e920";
    font-family: 'icomoon';
    margin-right: 10px;
}
.news-bd {
    padding: 5px 15px 0;
}
.news-bd ul li {
    height: 24px;
    line-height: 24px;
    /* 超框隐藏 */
    overflow: hidden;
    /* 不允许换行 */
    white-space: nowrap;
    /* 超出部分省略号代替 */
    text-overflow: ellipsis;
}
.lifesevice {
    /* 框外隐藏掉 */
    overflow: hidden;
    height: 209px;
    border:1px solid #e4e4e4;
    border-top: 0;
}
.lifesevice ul {
    width: 252px;
}

.lifesevice ul li {
    float: left;
    width: 63px;
    height: 71px;
    text-align: center;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.lifesevice ul li i{
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.bargain {
margin-top: 5px;
}
/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12x;
    background-color: #ebebeb;
}
.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recom_bd {
float: left;
}


.recom_bd ul li {
    position: relative;
    float: left;
}
.recom_bd ul li img{
    width: 248px;
}
.recom_bd ul li:nth-child(-n+3)::after {
    content:'';
    position: absolute;
    right: 0;
    top: 10;
    width: 1px;
    height: 145px;
    background-color: #ddd;

}
.box_hd {
    height: 30px;
    border-bottom: 2px solid #e91414;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400px;
}
.tab_list {
float: right;
line-height: 30px;
}
.tab_list ul li{
    float: left;

}
 a {
    margin: 0 15px;
}
.floor .w {
    margin-top: 30px;
    margin-bottom: 30px;
}
.box_bd {
    height: 360px;
    background-color: #f9f9f9;

}
.tab_list_item>div {
    float: left;
    height: 360px;
}
.col-210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.col-210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}
.col-210 ul {
    padding-left: 12px;
}
.col-330 {
    display: block;
    width: 330px;
}
.col-330 a,
.col-220 a {
    margin: 0;
}
.col-220 {
    width: 220px;
    border-right: 1px solid #ccc;
}
.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}